body { 
	padding: 0; 
	margin: 0; 
	font-family: verdana; 
    background-color: rgb(29, 28, 28); 
} 

.navbar {
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlogo {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
}

.container { 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	width: 100%; 
	height: 100vh; 
	background-color: rgb(29, 28, 28); 
} 

.digit { 
	font-size: 150px; 
	color: #fff; 
} 

.txt { 
	font-size: 30px; 
	color: #fffcd6; 
} 

#buttons { 
	margin-top: 50px; 
} 

.btn { 
	width: 100px; 
	padding: 10px 15px; 
	margin: 0px 20px; 
	border: 0 ;
    border-radius:15px ;
	cursor: pointer; 
	font-size: 20px; 
	transition: 0.5s; 
	color: rgb(8, 8, 8); 
	font-weight: 500; 
} 

#start { 
	background-color: #ffffff; 
} 

#stop { 
	background-color: #ffffff; 
} 

#reset { 
	background-color: #ffffff; 
}
